body {
  font-family: "Open Sans", sans-serif;
  color: #5a656e;
}

a {
  color: #d43076;
  text-decoration: none;
}

a:hover {
  color: #dd5a92;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  padding: 0;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 9999;
  background: #d43076;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #db528c;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}

#header .logo h1 {
  font-size: 26px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #2c4964;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 60px;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  color: #2c4964;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #d43076;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: 100%;
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #d43076;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  color: #2c4964;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(13, 21, 29, 0.6);
  transition: 0.3s;
  z-index: 998;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #2c4964;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #d43076;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #d43076;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

#hero {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5); 
  background: url("../img/header.jpg") top center;
  background-size: cover;
  padding: 0 15px;
}

.lod {
  margin: -200px 0 10px 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 85px;
  color: #3a2827;
}

#hero h1 {
  margin: -200px 0 10px 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 85px;
  color: #d49995;
}

#hero h3 {
  color: #d49995;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

@keyframes btnMovement {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

#hero .btn-get-started {
  font-size: 50px;
  transition: 0.5s;
  color: #d49995;
  height: 75px;
  animation: btnMovement 0.8s infinite;
}

#hero .btn-get-started:hover {
  padding-top: 10px;
  color: #ddb2c5;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.container {
  padding: 0 10px;
}

.section {
  padding: 30px 0;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: #2c4964;
  text-align: center;
  padding: 0;
}

.section-text {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #5a656e;
  text-align: center;
  padding: 0 1rem;
}

.card {
  margin-bottom: 20px;
  padding: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .section-text {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  .container {
    padding: 0 10px;
  }

  .section {
    padding: 20px 0;
  }
}

/* General Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  background-color: #fff;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f6f9;
  font-weight: bold;
  font-size: 1.125rem;
  color: #2c4964;
}

td {
  font-size: 1rem;
  color: #5a656e;
}

/* Specific Styles for sub pred obj table */
th.subject, td.subject {
  width: 30%;
}

th.predicate, td.predicate {
  width: 40%;
}

th.object, td.object {
  width: 30%;
}

/* Specific Styles for who what where when table */
th.property, td.property {
  width: 20%;
}

th.dublincore, td.dublincore,
th.schema, td.schema,
th.cdwa, td.cdwa,
th.cidoc, td.cidoc,
th.mo, td.mo {
  width: 16%;
}

/* Specific Styles for metadata analysis table */
th.item, td.item {
  width: 25%;
}

th.type, td.type {
  width: 25%;
}

th.source, td.source {
  width: 25%;
}

th.metadata-standard, td.metadata-standard {
  width: 25%;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  table {
    width: 100%;
    display: table;
  }
  
  th, td {
    width: auto;
    display: table-cell;
  }
}

/* Container for Tables */
.table-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
